* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  width: 230px;
  justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.value {
  font-size: 35px;
}

.label {
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  width: 350px;
}
